figure.fuse-grid {
    width: 330px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: whitesmoke;
    border: dotted 2px darkgray;
    border-radius: 4px;
}

figure.fuse-grid ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

figure.fuse-grid li, figure.fuse-grid img {
    border-radius: 5px;
}

li.kernel-connected {
    border: 1px solid green;
}

li.flame-connected {
    border: 1px solid red;
}

li.kernel-connected.flame-connected {
    border: 1px solid yellow;
}

.fuse-grid li:hover {
    border: 1px solid gray;
}