figure.fuse-grid {
    width: 330px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: whitesmoke;
    border: dotted 2px darkgray;
    border-radius: 4px;
}

figure.fuse-grid ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

figure.fuse-grid li, figure.fuse-grid img {
    border-radius: 5px;
}

.fuse-grid li:hover {
    border: 1px solid gray;
}

// explosions
.exploding {
    transform: scale(1);
	animation: pulse 0.7s infinite;
}

@keyframes pulse {
    0%{transform: scale(0.2)}
    60%{transform: scale(0.7)}
    100%{transform: scale(1.0)}
}