
.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.sidebar {
    // background-color: cornsilk;
    background-image: url("../images/marquee.jpeg");
    background-position: center;
    background-size: 850px;
    border-radius: 5px;
    text-align: center;
    height: 57%;
    padding: 10px;
}

.sidebar h3 {
    margin: 3px;
    font-family: 'Nova Flat';
}

#current-level {
    font-size: 22px;
}

.sidebar-stats {
    background-color: ivory;
    margin: 5px;
    border: 1px solid darkgray;
    font-size: 28;
}

.links {
    // background-color: crimson;
    background-color: cornsilk;
    border-radius: 5px;
    text-align: center;
    height: 6%;
    width: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

// #github {
//     filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(108%) contrast(102%);
// }

#linkedin {
    width: 33px;
    filter: brightness(0%);
}

// blinking text for timer when <5 seconds remain
.blinking {
    animation:blinkingText 1s infinite;
}

@keyframes blinkingText{
    0%{ font-weight: normal; color: red; text-shadow: 0 0 2px lightcoral;}
    49%{ font-weight: normal; color: red; text-shadow: 0 0 2px lightcoral;}
    60%{ font-weight: bold; color: #000; text-shadow: none;}
    99%{ font-weight: bold; color:#000; text-shadow: none;}
    100%{ font-weight: normal; color: red; text-shadow: 0 0 2px lightcoral;}
}