.hidden {
    display: none;
}

.modal {
  z-index: 998;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}

.modal-content {
  z-index: 999;
  position: fixed;
  background-image: url("../images/popcorn.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 700px;
  border-radius: 10px;
  font-size: 25px;
  height: 66%;
  width: 25%;
  top: 16.5%;
  left: 37.5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-shadow: 0 0 4px white;
}

#instruction-content {
  background-image: url("../images/marquee.jpeg");
  background-size: 1200px;
  height: 70%;
  width: 60%;
  top: 10%;
  left: 20%;
  line-height: 75%;
}

.modal-header {
  font-size: 32px;
}

button {
  cursor: pointer;
  font-size: 18px;
  background-color: crimson;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid transparent;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Nova Flat';
  font-weight:300;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
}

button:hover {
  font-weight: bold;
  border-color: white;
}

.instruction-text {
  font-size: 17px;
  margin: 2px;
}

.crimson {
  color: crimson;
}

.green {
  color: mediumseagreen;
}

.bold {
  font-weight: 900;
}

.fuse-container img {
  border: 2px dotted gray;
}

.spaced {
  margin-right: 50px;
}

.fuse-container .intro-border-piece {
  border: none;
  margin: 0;
  padding: 0;
}

#intro-kitty {
  position: absolute;
  bottom: 55px;
  right: 250px;
  height: 80px;
  width: 105px;
}