@import './styles/reset.scss';
@import './styles/game_grid.scss';

body {
    width: 60%;
    margin: 0 auto;
    background-color: whitesmoke;
}

h1 {
    font-size: 42;
    font-weight: bold;
    font-family: "Luminari", fantasy;
    padding: 10px;
    margin: 10px;
    background-color: red;
    color: white;
    -webkit-text-stroke: 1px blanchedalmond;
}

img {
    height: 50px;
    width: 50px;
}

#game-components {
    display: flex;
}

.game-board {
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar {
    background-color: white;
    text-align: center;
    height: 50%;
    width: 20%;
}

.sidebar h3 {
    text-decoration: underline;
}

#current-score, #kernels-remaining {
    background-color: whitesmoke;
    margin: 10px;
    border: 1px solid darkgray;
    font-size: 28;
}

li {
    border: 1px solid whitesmoke;
    padding: 1px;
}
