@import './styles/reset.scss';

body {
    width: 60%;
    margin: 0 auto;
    background-color: whitesmoke;
}

h1 {
    font-size: 42;
    font-weight: bold;
    font-family: "Luminari", fantasy;
    padding: 10px;
    margin: 10px;
    background-color: red;
    color: white;
    -webkit-text-stroke: 1px blanchedalmond;
}

img {
    height: 50px;
    width: 50px;
    // border-radius: 5px;
}

#game-components {
    display: flex;
}

.game-board {
    display: flex;
    align-items: center;
    justify-content: center;
}

figure.game-grid {
    width: 330px;
}

figure.game-grid ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

figure.game-grid li, figure.game-grid img {
    border-radius: 5px;
}

.sidebar {
    border: 1px solid black;
    height: 50%;
    width: 20%;
}

li {
    border: 1px solid whitesmoke;
    padding: 1px;
}

li.kernel-connected {
    border: 1px solid green;
}

li.flame-connected {
    border: 1px solid red;
}

li.kernel-connected.flame-connected {
    border: 1px solid yellow;
}

.game-grid li:hover {
    border: 2px solid gray;
}